html, body {
  overflow-x: hidden !important;

  }
.navbar-brand img {
    width: 200px;
    height: 40px;
  }
  .image1{
width: 450px;
height: 300px;
border-radius: 1rem;
margin-top: 20px;
  }

 /* .card img{
    height: 220px !important;
  }*/
  .card-body{
    text-align: center;
    border-radius: 5px 5px 0px 0px;
  }
  .row{
    padding-left: 27px;
max-width: 100%;  
}

.navbar-brand{
    margin-left: 40px;
}
.navbar-toggler{
    margin-right: 40px;
}
.navbar-collapse{
    margin-left: 20px;

}

.text3{
    list-style-position: inside;
    list-style-type:square;
    display: inline-block;
    text-align: left;
    font-size: 19px;
    width: 35%;
}

.second-text{
    width: 55%;
    display: table;
    margin: 0 auto;
    font-size: 19px;
}

.parent{
  display: flex;
  justify-content: center;
    gap:100px;
}


  .services-title{
    text-align: center;
  }

  .line {
    border-bottom: 1px solid #343a40;
    width: 100%;
}

.skyline{
width: 100%;
height: 90%;
object-fit: cover;
}

.first-text{
        font-size: 19px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: #343a40;
}


.nav-link{
    color: #343a40!important;
    font-size: 20px !important;
}



@media all and (max-width: 768px) {

    .image1{
        width: 300px;
        height: 200px;
        border-radius: 1rem;
margin: 0 auto;      
margin-bottom: 30px;
    }
          .parent{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0px;
          }
          .text3{
            width: 100%;
          }          
          .second-text{
            width: 88%;
          }
          .first-text{
            width: 90%;
          }
}

@media all and (min-width: 768px) and (max-width:858px) {
    .parent{

        gap: 0px;
      }
}